# Ma'lumotlar bazasi
*.db
*.db-shm
*.db-wal

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Build
build/
dist/
*.spec
*.exe
